{% extends "partials/base.html" %}

{% load static %}

{% block title %}
  All Movies
{% endblock title %}

{% block content %}
    <h2 class="page-title">Check out all our movies here!!</h2>

<div class="search-filter-container">
    <form id="search-form">
        <div class="search-wrapper">
            <input type="text" id="search-input" name="title" placeholder="Search movies...">
            <span id="clear-search">&times;</span>
        </div>
        <button type="submit">Search</button>
    </form>

    <form id="filter-form">

        <select id="genre-select" name="genre">
        <option value="---">---</option> <!-- Reset option -->
        {% for value, label in filter_form.genre.field.choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
        </select>

        <button type="submit">Filter</button>
    </form>
</div>

<div class="movies-container" id="movies-list">
    {% for movie in movies %}
        <div class="movie-card" data-title="{{ movie.title|lower }}" data-genre="{{ movie.genre|lower }}">
            <a href="{% url 'movie_collection_app:movie_detail' movie.pk %}">
                <div class="movie-card-inner">
                    <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster" class="movie-poster">
                    <div class="movie-title">{{ movie.title }}</div>
                    <div class="movie-genre">{{ movie.get_genre_display }}</div>
                    <div class="movie-genre"> Added by: {{ movie.added_by }}</div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>



    <div class="create-movie-link">
        <a href="{% url 'movie_collection_app:create_movie' %}">Create Your Movies</a>
    </div>
{% endblock content %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock links %}