{% extends "partials/base.html" %} 
 
{% load static %} 
 
 
{% block title %} 
  Delete {{ movie.title }} 
{% endblock title %} 
 
 
{% block content %} 
    <div class="delete-container">
        <div class="delete-confirmation">
            Are you sure you want to delete "{{ movie.title }}" by {{ movie.added_by }}?
        </div>

        <div class="delete-actions">
            <form action="{% url 'movie_collection_app:delete_movie' movie.pk %}" method='POST' enctype='multipart/form-data'> 
                {% csrf_token %} 
                <button type="submit" class="delete-button">Yes, I'm sure</button>
            </form>
 
            <a href="{% url 'movie_collection_app:movie_detail' movie.pk %}" class="cancel-button">
                No, take me back
            </a>
        </div>
    </div>
{% endblock content %} 
 
{% block links %} 
<link rel="stylesheet" href="{% static 'css/delete.css' %}"> 
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="{% static 'js/base.js' %}"></script>
{% endblock links %}