<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Header and Footer</title>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'freelancer:services' %}">Services</a></li>
                <li><a href="{% url 'freelancer:testimonials' %}">Testimonials</a></li>
                <li><a href="{% url 'freelancer:case_studies' %}">Case Studies</a></li>
                <li><a href="{% url 'freelancer:blogs' %}">Blogs</a></li>
                <li><a href="{% url 'freelancer:pricing' %}">Pricing</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block body %} 
            
        {% endblock body %}
    </main>

    <footer>
        <div class="footer-content">
            Django Assignment 2025
        </div>
    </footer>
</body>
</html>