<div class="review-form-section">
  <h4>Drop a review for {{ book.title }}</h4>
  <form action="{% url 'book_review:create_review' book.pk %}" method="POST">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="errorlist">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <div>
      {% for error in form.reviewer_name.errors %}
        <div class="errorlist">{{ error }}</div>
      {% endfor %}
      <label for="reviewer_name">Enter your name:</label>
      <input type="text" name="reviewer_name" value="{{ form.reviewer_name.value|default_if_none:'' }}" required>
    </div>

    <div>
      {% for error in form.rating.errors %}
        <div class="errorlist">{{ error }}</div>
      {% endfor %}
      <label for="rating">Rating:</label>
      <input type="number" name="rating" value="{{ form.rating.value|default_if_none:'' }}" required>
    </div>

    <div>
      {% for error in form.comment.errors %}
        <div class="errorlist">{{ error }}</div>
      {% endfor %}
      <label for="comment">Comment:</label>
      <textarea name="comment" required>{{ form.comment.value|default_if_none:'' }}</textarea>
    </div>

    <button type="submit">Send Review</button>
  </form>
</div>
